 .u-section-1 {
  min-height: 612px;
  background-image: none;
}

.u-section-1 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 0 0 0 auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 612px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.49;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 1.125rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 3rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  margin-left: auto;
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-style: italic;
  margin: 28px auto 0 0;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-size: 1rem;
  letter-spacing: 1px;
  background-image: none;
  text-transform: uppercase;
  font-weight: 600;
  margin: 41px auto 0 0;
  padding: 15px 41px 15px 40px;
}

.u-section-1 .u-image-1 {
  min-height: 612px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  background-image: url("images/girl-4-min.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 30px 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 505px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 530px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.5rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 530px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 803px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
    order: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }

  .u-section-1 .u-image-1 {
    min-height: 678px;
    order: 1;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 627px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-1 .u-image-1 {
    min-height: 499px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 432px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 40px;
    padding-left: 30px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 314px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1069px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 60px 81px 0;
}

.u-section-2 .u-text-2 {
  letter-spacing: 0px;
  width: 219px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 30px auto 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  padding: 0;
}

.u-section-2 .u-list-1 {
  margin-top: 49px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  min-height: 758px;
  grid-gap: 20px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  letter-spacing: 3px;
  font-size: 1.875rem;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0 auto;
}

.u-section-2 .u-icon-1 {
  height: 148px;
  width: 148px;
  margin: 50px auto 0;
}

.u-section-2 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(52,54,90,0.8), rgba(52,54,90,0.8)), url("images/bf5831c7-be61-2575-6483-f38c1ca09a87.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-4 {
  letter-spacing: 3px;
  font-size: 1.875rem;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0 auto;
}

.u-section-2 .u-icon-2 {
  height: 148px;
  width: 148px;
  margin: 50px auto 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-5 {
  letter-spacing: 3px;
  font-size: 1.875rem;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0 auto;
}

.u-section-2 .u-icon-3 {
  height: 148px;
  width: 148px;
  margin: 50px auto 0;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-text-6 {
  letter-spacing: 3px;
  font-weight: 500;
  font-size: 1.875rem;
  text-transform: uppercase;
  margin: 0 auto;
}

.u-section-2 .u-icon-4 {
  height: 148px;
  width: 148px;
  margin: 50px auto 0;
}

.u-section-2 .u-list-item-5 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-text-7 {
  letter-spacing: 3px;
  font-size: 1.875rem;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0 auto;
}

.u-section-2 .u-icon-5 {
  height: 148px;
  width: 148px;
  margin: 50px auto 0;
}

.u-section-2 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(52,54,90,0.8), rgba(52,54,90,0.8)), url("images/wewe.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-text-8 {
  letter-spacing: 3px;
  font-size: 1.875rem;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0 auto;
}

.u-section-2 .u-icon-6 {
  height: 148px;
  width: 148px;
  margin: 50px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    min-height: 624px;
  }

  .u-section-2 .u-list-item-4 {
    background-position: 50% 50%;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.99997px));
    min-height: 1097px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-8 {
    font-size: 1.5rem;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 943px;
}

.u-section-3 .u-shape-1 {
  width: 661px;
  height: 361px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 60px auto 0 20px;
}

.u-section-3 .u-image-1 {
  height: 659px;
  width: 667px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -749px 76px 0 auto;
}

.u-section-3 .u-shape-2 {
  width: 237px;
  height: 237px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: -126px 0 0 auto;
}

.u-section-3 .u-shape-3 {
  width: 228px;
  height: 228px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -798px auto 0 0;
}

.u-section-3 .u-group-1 {
  width: 518px;
  min-height: 513px;
  background-image: none;
  height: auto;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -102px auto -196px 76px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  margin: 0;
}

.u-section-3 .u-text-2 {
  margin: 27px 0 0;
}

.u-section-3 .u-text-3 {
  font-style: italic;
  margin: 30px 0 0;
}

.u-section-3 .u-btn-1 {
  font-style: italic;
  padding: 0;
}

.u-section-3 .u-btn-2 {
  border-style: none;
  font-size: 1rem;
  letter-spacing: 1px;
  background-image: none;
  text-transform: uppercase;
  font-weight: 600;
  margin: 30px auto 0 0;
  padding: 15px 41px 15px 40px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 902px;
  }

  .u-section-3 .u-shape-1 {
    width: 610px;
    height: 328px;
  }

  .u-section-3 .u-image-1 {
    height: 626px;
    width: 512px;
    margin-top: -690px;
    margin-right: 56px;
  }

  .u-section-3 .u-shape-2 {
    width: 204px;
    height: 204px;
    margin-top: -118px;
  }

  .u-section-3 .u-shape-3 {
    margin-top: -741px;
  }

  .u-section-3 .u-group-1 {
    width: 426px;
    margin-top: -126px;
    margin-bottom: -206px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1191px;
  }

  .u-section-3 .u-shape-1 {
    width: 506px;
    height: 289px;
  }

  .u-section-3 .u-image-1 {
    height: 578px;
    width: 470px;
    margin-top: -1051px;
    margin-right: 40px;
  }

  .u-section-3 .u-shape-2 {
    width: 169px;
    height: 169px;
    margin-top: -87px;
  }

  .u-section-3 .u-shape-3 {
    width: 170px;
    height: 170px;
    margin-top: -241px;
  }

  .u-section-3 .u-group-1 {
    margin-top: -98px;
    margin-bottom: -655px;
    margin-left: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1187px;
  }

  .u-section-3 .u-image-1 {
    height: 405px;
    width: 370px;
    margin-top: -1057px;
    margin-right: auto;
  }

  .u-section-3 .u-shape-2 {
    margin-top: -91px;
  }

  .u-section-3 .u-shape-3 {
    margin-top: -58px;
  }

  .u-section-3 .u-group-1 {
    margin-bottom: -661px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1162px;
  }

  .u-section-3 .u-shape-1 {
    width: 313px;
    height: 285px;
    margin-top: 55px;
    margin-left: 0;
  }

  .u-section-3 .u-image-1 {
    height: 340px;
    width: 285px;
    margin-top: -1053px;
    margin-left: 0;
  }

  .u-section-3 .u-shape-2 {
    width: 136px;
    height: 136px;
    margin-top: -75px;
  }

  .u-section-3 .u-shape-3 {
    width: 155px;
    height: 155px;
    margin-top: 50px;
  }

  .u-section-3 .u-group-1 {
    width: 285px;
    min-height: 500px;
    margin: -96px 0 -670px auto;
  }

  .u-section-3 .u-text-1 {
    width: auto;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 852px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 712px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-2 {
  margin: 30px auto 0 0;
}

.u-section-4 .u-text-3 {
  font-size: 1.125rem;
  line-height: 2.2;
  margin: 20px 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  font-size: 1rem;
  letter-spacing: 1px;
  background-image: none;
  text-transform: uppercase;
  font-weight: 600;
  margin: 30px auto 0 0;
  padding: 15px 41px 15px 40px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 712px;
  background-image: none;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 30px 30px 50px;
}

.u-section-4 .u-text-4 {
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-5 {
  font-size: 1.125rem;
  line-height: 3;
  font-weight: 700;
  color: rgb(17, 17, 17) !important;
  margin: 20px 0 0;
}

.u-section-4 .u-shape-1 {
  width: 79px;
  height: 79px;
  margin: 87px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 701px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 587px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 587px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 90px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 190px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 976px;
}

.u-section-5 .u-text-1 {
  width: 818px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 60px auto 0;
}

.u-section-5 .u-text-2 {
  width: 517px;
  font-size: 1.125rem;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px auto 0;
}

.u-section-5 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 32px;
  margin-bottom: 60px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  min-height: 646px;
  grid-gap: 30px;
}

.u-section-5 .u-list-item-1 {
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 20px 0 0;
}

.u-section-5 .u-group-1 {
  width: 60px;
  min-height: 60px;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 0;
}

.u-section-5 .u-text-3 {
  font-size: 2rem;
  line-height: 1;
  font-weight: 400;
  font-family: Ubuntu, sans-serif;
  margin: 0 5px;
}

.u-section-5 .u-group-2 {
  min-height: 292px;
  animation-duration: 1000ms;
  width: 248px;
  height: auto;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -60px 0 0 auto;
}

.u-section-5 .u-container-layout-3 {
  padding: 0 0 30px;
}

.u-section-5 .u-text-4 {
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-5 {
  font-size: 1rem;
  margin: 27px 0 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0 0;
  padding: 1px 0 2px;
}

.u-section-5 .u-list-item-2 {
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px 20px 0 0;
}

.u-section-5 .u-group-3 {
  width: 60px;
  min-height: 60px;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-5 .u-container-layout-5 {
  padding: 0;
}

.u-section-5 .u-text-6 {
  font-size: 2rem;
  line-height: 1;
  font-weight: 400;
  font-family: Ubuntu, sans-serif;
  margin: 0 5px;
}

.u-section-5 .u-group-4 {
  min-height: 292px;
  animation-duration: 1000ms;
  width: 248px;
  height: auto;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -60px 0 0 auto;
}

.u-section-5 .u-container-layout-6 {
  padding: 0 0 30px;
}

.u-section-5 .u-text-7 {
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-8 {
  font-size: 1rem;
  margin: 27px 0 0;
}

.u-section-5 .u-btn-2 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 20px auto 0 0;
  padding: 1px 0 2px;
}

.u-section-5 .u-list-item-3 {
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
}

.u-section-5 .u-container-layout-7 {
  padding: 30px 20px 0 0;
}

.u-section-5 .u-group-5 {
  width: 60px;
  min-height: 60px;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-5 .u-container-layout-8 {
  padding: 0;
}

.u-section-5 .u-text-9 {
  font-size: 2rem;
  line-height: 1;
  font-weight: 400;
  font-family: Ubuntu, sans-serif;
  margin: 0 5px;
}

.u-section-5 .u-group-6 {
  min-height: 292px;
  animation-duration: 1000ms;
  width: 248px;
  height: auto;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -60px 0 0 auto;
}

.u-section-5 .u-container-layout-9 {
  padding: 0 0 30px;
}

.u-section-5 .u-text-10 {
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-11 {
  font-size: 1rem;
  margin: 27px 0 0;
}

.u-section-5 .u-btn-3 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 20px auto 0 0;
  padding: 1px 0 2px;
}

.u-section-5 .u-list-item-4 {
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
}

.u-section-5 .u-container-layout-10 {
  padding: 30px 20px 0 0;
}

.u-section-5 .u-group-7 {
  width: 60px;
  min-height: 60px;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-5 .u-container-layout-11 {
  padding: 0;
}

.u-section-5 .u-text-12 {
  font-size: 2rem;
  line-height: 1;
  font-weight: 400;
  font-family: Ubuntu, sans-serif;
  margin: 0 5px;
}

.u-section-5 .u-group-8 {
  min-height: 292px;
  animation-duration: 1000ms;
  width: 248px;
  height: auto;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -60px 0 0 auto;
}

.u-section-5 .u-container-layout-12 {
  padding: 0 0 30px;
}

.u-section-5 .u-text-13 {
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-14 {
  font-size: 1rem;
  margin: 27px 0 0;
}

.u-section-5 .u-btn-4 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 20px auto 0 0;
  padding: 1px 0 2px;
}

.u-section-5 .u-list-item-5 {
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
}

.u-section-5 .u-container-layout-13 {
  padding: 30px 20px 0 0;
}

.u-section-5 .u-group-9 {
  width: 60px;
  min-height: 60px;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-5 .u-container-layout-14 {
  padding: 0;
}

.u-section-5 .u-text-15 {
  font-size: 2rem;
  line-height: 1;
  font-weight: 400;
  font-family: Ubuntu, sans-serif;
  margin: 0 5px;
}

.u-section-5 .u-group-10 {
  min-height: 292px;
  animation-duration: 1000ms;
  width: 248px;
  height: auto;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -60px 0 0 auto;
}

.u-section-5 .u-container-layout-15 {
  padding: 0 0 30px;
}

.u-section-5 .u-text-16 {
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-17 {
  font-size: 1rem;
  margin: 27px 0 0;
}

.u-section-5 .u-btn-5 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 20px auto 0 0;
  padding: 1px 0 2px;
}

.u-section-5 .u-list-item-6 {
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
}

.u-section-5 .u-container-layout-16 {
  padding: 30px 20px 0 0;
}

.u-section-5 .u-group-11 {
  width: 60px;
  min-height: 60px;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-5 .u-container-layout-17 {
  padding: 0;
}

.u-section-5 .u-text-18 {
  font-size: 2rem;
  line-height: 1;
  font-weight: 400;
  font-family: Ubuntu, sans-serif;
  margin: 0 5px;
}

.u-section-5 .u-group-12 {
  min-height: 292px;
  animation-duration: 1000ms;
  width: 248px;
  height: auto;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -60px 0 0 auto;
}

.u-section-5 .u-container-layout-18 {
  padding: 0 0 30px;
}

.u-section-5 .u-text-19 {
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-20 {
  font-size: 1rem;
  margin: 27px 0 0;
}

.u-section-5 .u-btn-6 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 20px auto 0 0;
  padding: 1px 0 2px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 992px;
  }

  .u-section-5 .u-list-1 {
    height: auto;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    min-height: 532px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 0;
  }

  .u-section-5 .u-group-1 {
    height: auto;
  }

  .u-section-5 .u-group-2 {
    min-height: 300px;
    width: 207px;
    height: auto;
  }

  .u-section-5 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-5 .u-container-layout-4 {
    padding-right: 0;
  }

  .u-section-5 .u-group-3 {
    height: auto;
  }

  .u-section-5 .u-group-4 {
    min-height: 300px;
    width: 207px;
    height: auto;
  }

  .u-section-5 .u-container-layout-6 {
    padding-bottom: 0;
  }

  .u-section-5 .u-container-layout-7 {
    padding-right: 0;
  }

  .u-section-5 .u-group-5 {
    height: auto;
  }

  .u-section-5 .u-group-6 {
    min-height: 300px;
    width: 207px;
    height: auto;
  }

  .u-section-5 .u-container-layout-9 {
    padding-bottom: 0;
  }

  .u-section-5 .u-container-layout-10 {
    padding-right: 0;
  }

  .u-section-5 .u-group-7 {
    height: auto;
  }

  .u-section-5 .u-group-8 {
    min-height: 300px;
    width: 207px;
    height: auto;
  }

  .u-section-5 .u-container-layout-12 {
    padding-bottom: 0;
  }

  .u-section-5 .u-container-layout-13 {
    padding-right: 0;
  }

  .u-section-5 .u-group-9 {
    height: auto;
  }

  .u-section-5 .u-group-10 {
    min-height: 300px;
    width: 207px;
    height: auto;
  }

  .u-section-5 .u-container-layout-15 {
    padding-bottom: 0;
  }

  .u-section-5 .u-container-layout-16 {
    padding-right: 0;
  }

  .u-section-5 .u-group-11 {
    height: auto;
  }

  .u-section-5 .u-group-12 {
    min-height: 300px;
    width: 207px;
    height: auto;
  }

  .u-section-5 .u-container-layout-18 {
    padding-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1326px;
  }

  .u-section-5 .u-text-1 {
    width: 720px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 1050px;
  }

  .u-section-5 .u-group-2 {
    min-height: 284px;
    width: 242px;
  }

  .u-section-5 .u-group-4 {
    min-height: 284px;
    width: 242px;
  }

  .u-section-5 .u-group-6 {
    min-height: 284px;
    width: 242px;
  }

  .u-section-5 .u-group-8 {
    min-height: 284px;
    width: 242px;
  }

  .u-section-5 .u-group-10 {
    min-height: 284px;
    width: 242px;
  }

  .u-section-5 .u-group-12 {
    min-height: 284px;
    width: 242px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    width: 540px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 23px;
    margin-left: 0;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-group-2 {
    min-height: 229px;
    width: 436px;
  }

  .u-section-5 .u-group-4 {
    min-height: 229px;
    width: 436px;
  }

  .u-section-5 .u-group-6 {
    min-height: 229px;
    width: 436px;
  }

  .u-section-5 .u-group-8 {
    min-height: 229px;
    width: 436px;
  }

  .u-section-5 .u-group-10 {
    min-height: 229px;
    width: 436px;
  }

  .u-section-5 .u-group-12 {
    min-height: 229px;
    width: 436px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    width: 340px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
    width: 340px;
  }

  .u-section-5 .u-group-2 {
    width: 340px;
    margin-top: 20px;
  }

  .u-section-5 .u-group-4 {
    width: 340px;
    margin-top: 20px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-top: 30px;
  }

  .u-section-5 .u-group-6 {
    width: 340px;
    margin-top: 20px;
  }

  .u-section-5 .u-group-8 {
    width: 340px;
    margin-top: 20px;
  }

  .u-section-5 .u-group-10 {
    width: 340px;
    margin-top: 20px;
  }

  .u-section-5 .u-group-12 {
    width: 340px;
    margin-top: 20px;
  }
} .u-section-6 {
  min-height: 1098px;
  background-image: none;
}

.u-section-6 .u-image-1 {
  height: 835px;
  object-position: 0% 0%;
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-6 .u-list-1 {
  width: 1140px;
  margin: -145px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 24px));
  min-height: 241px;
  grid-gap: 32px;
}

.u-section-6 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 21px 0 rgba(0,0,0,0.2);
}

.u-section-6 .u-container-layout-1 {
  padding: 20px;
}

.u-section-6 .u-text-1 {
  margin: 0 auto;
}

.u-section-6 .u-text-2 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-6 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 21px 0 rgba(0,0,0,0.2);
}

.u-section-6 .u-container-layout-2 {
  padding: 20px;
}

.u-section-6 .u-text-3 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.125rem;
  margin: 0 auto;
}

.u-section-6 .u-text-4 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-6 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 21px 0 rgba(0,0,0,0.2);
}

.u-section-6 .u-container-layout-3 {
  padding: 20px;
}

.u-section-6 .u-text-5 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.125rem;
  margin: 0 auto;
}

.u-section-6 .u-text-6 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-6 .u-list-item-4 {
  background-image: none;
  box-shadow: 5px 5px 21px 0 rgba(0,0,0,0.2);
}

.u-section-6 .u-container-layout-4 {
  padding: 20px;
}

.u-section-6 .u-text-7 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.125rem;
  margin: 0 auto;
}

.u-section-6 .u-text-8 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-6 .u-text-9 {
  margin: 61px auto 60px calc(((100% - 1140px) / 2) + 497px);
}

.u-section-6 .u-btn-1 {
  border-style: solid;
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-6 {
    min-height: 853px;
  }

  .u-section-6 .u-image-1 {
    height: 515px;
    object-position: 0% 0.38%;
    margin-top: 2px;
  }

  .u-section-6 .u-list-1 {
    width: 940px;
    margin-top: -16px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-6 .u-repeater-1 {
    min-height: 195px;
  }

  .u-section-6 .u-text-9 {
    margin-left: calc(((100% - 940px) / 2) + 410px);
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    min-height: 1064px;
  }

  .u-section-6 .u-image-1 {
    margin-top: 0;
  }

  .u-section-6 .u-list-1 {
    width: 720px;
    margin-top: -100px;
    margin-left: auto;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 16px));
    min-height: 499px;
  }

  .u-section-6 .u-text-9 {
    width: auto;
    margin-top: 48px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-image-1 {
    object-position: 59.27% 0.38%;
  }

  .u-section-6 .u-list-1 {
    width: 540px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-image-1 {
    object-position: 50.95% 0.38%;
  }

  .u-section-6 .u-list-1 {
    width: 340px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 914px;
}

.u-section-7 .u-icon-1 {
  width: 64px;
  height: 64px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 60px auto 0;
}

.u-section-7 .u-group-1 {
  min-height: 425px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: auto;
  width: 1061px;
  margin: 180px auto 0;
}

.u-section-7 .u-container-layout-1 {
  padding: 0 60px 50px;
}

.u-section-7 .u-image-1 {
  width: 282px;
  height: 282px;
  background-image: url("images/444.jpg");
  background-position: 50% 50%;
  --animation-custom_in-scale: 0.3;
  margin: -138px auto 0;
}

.u-section-7 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 500;
  text-transform: none;
  margin: 58px 0 0;
}

.u-section-7 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 51px auto 0;
}

.u-section-7 .u-text-3 {
  font-size: 1rem;
  letter-spacing: 0px;
  font-style: italic;
  text-align: left;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px auto 60px;
}

.u-section-7 .u-btn-1 {
  border-style: solid;
  font-style: italic;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-group-1 {
    width: 940px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-group-1 {
    width: 720px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-group-1 {
    width: 540px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-group-1 {
    width: 340px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.5rem;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 343px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 223px;
  background-image: none;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-text-1 {
  font-size: 3rem;
  margin: 0 auto 0 0;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 223px;
  background-image: none;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px 10px;
}

.u-section-8 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 1rem;
  background-image: none;
  margin: 0 auto;
  padding: 13px 35px 14px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 304px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 184px;
  }

  .u-section-8 .u-text-1 {
    font-size: 2.5rem;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 184px;
  }

  .u-section-8 .u-btn-1 {
    border-style: none;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 212px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-text-1 {
    width: auto;
    margin-right: 0;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-text-1 {
    font-size: 1.875rem;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 500px;
}

.u-section-9 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  position: relative;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 430px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px;
}

.u-section-9 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0;
}

.u-section-9 .u-text-2 {
  font-weight: 700;
  line-height: 1.8;
  font-style: italic;
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-9 .u-text-3 {
  line-height: 2;
  margin: 20px 0 0;
}

.u-section-9 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 200px;
  min-width: 120px;
  margin: 30px auto 0 0;
}

.u-section-9 .u-icon-1 {
  height: 100%;
}

.u-section-9 .u-icon-2 {
  height: 100%;
}

.u-section-9 .u-icon-3 {
  height: 100%;
}

.u-section-9 .u-icon-4 {
  height: 100%;
}

.u-section-9 .u-icon-5 {
  height: 100%;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 400px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-9 .u-container-layout-2 {
  padding: 30px;
}

.u-section-9 .u-text-4 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0;
}

.u-section-9 .u-text-5 {
  margin: 20px 205px 0 0;
}

.u-section-9 .u-text-6 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-9 .u-text-7 {
  margin: 18px 119px 0 0;
}

.u-section-9 .u-text-8 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-9 .u-text-9 {
  margin: 20px 116px 0 0;
}

.u-section-9 .u-layout-cell-3 {
  min-height: 400px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-9 .u-container-layout-3 {
  padding: 30px;
}

.u-section-9 .u-form-1 {
  height: 317px;
  margin: 0 -60px 0 0;
}

.u-section-9 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 355px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-right: 0;
  }

  .u-section-9 .u-text-5 {
    margin-right: 107px;
  }

  .u-section-9 .u-text-7 {
    margin-right: 52px;
  }

  .u-section-9 .u-text-9 {
    margin-right: 49px;
  }

  .u-section-9 .u-layout-cell-3 {
    min-height: 330px;
  }

  .u-section-9 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 465px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-social-icons-1 {
    height: 27px;
    width: 176px;
    margin-right: 17px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-text-5 {
    margin-right: 33px;
  }

  .u-section-9 .u-text-7 {
    margin-right: 0;
  }

  .u-section-9 .u-text-9 {
    margin-right: 0;
  }

  .u-section-9 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1146px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 816px;
  }

  .u-section-9 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-9 .u-text-5 {
    margin-right: 0;
  }
}