 .u-section-1 {
  margin-right: 0;
  margin-left: 0;
}

.u-section-1 .u-sheet-1 {
  min-height: 1004px;
  margin-bottom: 0;
}

.u-section-1 .u-group-1 {
  width: 714px;
  height: auto;
  min-height: 95px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 43px 0 0 auto;
}

.u-section-1 .u-container-layout-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding-left: 19px;
  padding-right: 19px;
}

.u-section-1 .u-text-1 {
  font-weight: 500;
  margin: 15px 167px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  animation-timing-function: ease-in;
  margin: 30px 9px 0 426px;
}

.u-section-1 .u-line-1 {
  width: 559px;
  transform-origin: left center;
  margin: 30px 155px 0 auto;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 43px 95px 0 426px;
}

.u-section-1 .u-gallery-1 {
  height: 770px;
  width: 383px;
  margin: -359px auto 0 0;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-1 .u-gallery-inner-1 {
  --gap: 0px;
}

.u-section-1 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-1 .u-back-image-2 {
  object-position: 64.3% 50%;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  padding: 4px;
}

.u-section-1 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  padding: 4px;
}

.u-section-1 .u-text-4 {
  margin: -393px 0 0 426px;
}

.u-section-1 .u-text-5 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 19px 9px 0 426px;
}

.u-section-1 .u-text-6 {
  margin: 19px 0 0 426px;
}

.u-section-1 .u-text-7 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 26px 9px 0 426px;
}

.u-section-1 .u-text-8 {
  animation-timing-function: ease-in;
  margin: 24px 0 0 426px;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  background-image: none;
  --radius: 50px;
  margin: 59px auto 60px 426px;
  padding: 10px 23px 10px 21px;
}

.u-section-1 .u-icon-1 {
  font-size: 1.2em;
  width: 19px;
  height: 26px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1080px;
  }

  .u-section-1 .u-group-1 {
    width: 560px;
    min-height: 111px;
    height: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 23px;
    margin-right: 177px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 0;
    margin-left: 381px;
  }

  .u-section-1 .u-line-1 {
    width: 454px;
    margin-right: 105px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 37px;
    margin-right: 105px;
    margin-left: 381px;
  }

  .u-section-1 .u-gallery-1 {
    height: 847px;
    width: 344px;
    margin-top: -428px;
  }

  .u-section-1 .u-carousel-control-1 {
    left: 8px;
  }

  .u-section-1 .u-carousel-control-2 {
    right: 8px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: -395px;
    margin-right: -60px;
    margin-left: 381px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 30px;
    margin-right: -60px;
    margin-left: 381px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 23px;
    margin-right: -60px;
    margin-left: 381px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 23px;
    margin-right: -60px;
    margin-left: 381px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-right: -60px;
    margin-left: 381px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 55px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1264px;
  }

  .u-section-1 .u-group-1 {
    width: 360px;
    min-height: 119px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
    margin-right: 20px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 360px;
  }

  .u-section-1 .u-line-1 {
    width: 319px;
    margin-right: 41px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 41px;
    margin-right: 0;
    margin-left: 360px;
  }

  .u-section-1 .u-gallery-1 {
    height: 992px;
    width: 330px;
    margin-top: -491px;
  }

  .u-section-1 .u-carousel-control-1 {
    left: 6px;
  }

  .u-section-1 .u-carousel-control-2 {
    right: 6px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -480px;
    margin-right: -259px;
    margin-left: 360px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 26px;
    margin-right: 41px;
    margin-left: 360px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 24px;
    margin-right: -259px;
    margin-left: 360px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 27px;
    margin-right: 0;
    margin-left: 360px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 360px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 76px;
    margin-right: 174px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    height: 749px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 30px 10px 0;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 180px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 180px;
  }

  .u-section-1 .u-carousel-control-1 {
    left: 5px;
  }

  .u-section-1 .u-carousel-control-2 {
    right: 5px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    height: auto;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 1764px;
  }

  .u-section-1 .u-group-1 {
    min-height: 81px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 21px 0;
  }

  .u-section-1 .u-text-1 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 604px;
    margin-left: 0;
  }

  .u-section-1 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
  }

  .u-section-1 .u-gallery-1 {
    height: 509px;
    margin-top: -931px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-carousel-control-1 {
    left: 3px;
  }

  .u-section-1 .u-carousel-control-2 {
    right: 3px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 443px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 65px;
    margin-right: auto;
    margin-bottom: 54px;
  }
}